<div class="flex p-8 justify-center items-center">
  <div class="max-w-sm w-full mx-auto">
    <%= form_with(url: maids_path, method: :get, data: {turbo: false}) do |f| %>
      <label for="address" class="leading-6 font-medium text-sm block">Find maids near an address</label>
      <div class="rounded-lg flex mt-2 drop-shadow-sm ring-offset-gray-300">
        <div class="flex items-stretch grow">
          <%= f.text_field :q, class: "leading-6 focus:outline-none focus:ring-0 rounded-md", placeholder: "1909 John St, Chicago, IL" %> 
        </div>
        <%= f.submit "Search", class: "bg-blue-600 px-6 text-white rounded-md" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
