<% if order.pending? %>
  <p class="text-center px-2 py-[2px] text-sm ml-2 font-bold text-yellow-700 bg-yellow-100 rounded-xl tracking-wide ring-1 ring-inset ring-yellow-600/10">pending</p>
  <!--
  <p class="text-gray-800 font-bold tracking-wide px-2 py-1">
    <span class="align-middle">Amount due:</span><span class="text-indigo-600 font-bold tracking-wide ml-2 align-middle">$150.00</span>
  </p>
  -->
<% elsif order.in_progress? %>
  <p class="px-2 py-[2px] font-bold text-sm text-green-700 bg-green-100 text-center rounded-xl ml-2 tracking-wide ring-1 ring-inset ring-green-600/10">scheduled</p>
  <!--
  <p class="text-gray-800 font-bold tracking-wide px-2 py-1">
    <span class="align-middle">Amount due:</span><span class="text-indigo-600 font-bold tracking-wide ml-2 align-middle">$150.00</span>
  </p>
  -->

<% elsif order.cancelled? %>
  <p class="px-2 py-[2px] font-bold text-sm text-red-700 bg-red-100 rounded-xl ml-2 tracking-wide ring-1 ring-inset ring-red-600/10">cancelled</p>
  <!--
  <p class="text-gray-800 font-bold tracking-wide px-2 py-1">
    <span class="align-middle">Amount paid:</span><span class="align-middle text-indigo-600 font-bold tracking-wide ml-2">$00.00</span>
  </p>
  -->
<% end %>

