<% if order.completed? %>
<div class="flex">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="text-green-500 w-x6 h-6"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd"></path>i
  </svg>
  <p class="text-base ml-2">Completed</p>
</div>
<div>
  <p class="text-gray-800 font-bold tracking-wide text-lg text-baseline">Order total: <span class="text-indigo-600 font-bold tracking-wide ml-2">$150</span></p>
</div>
<% elsif order.pending? %>
  <p class="px-2 py-1 font-bold text-yellow-700 bg-yellow-100 rounded">Pending</p>
<% elsif order.in_progress? %>
  <p class="px-2 py-1 font-bold text-blue-600 bg-blue-100 rounded">In Progress</p>
<% else %>
  <p class="px-2 py-1 font-bold text-red-700 bg-red-100 rounded">Cancelled</p>
<% end %>

