<div class="mx-auto md:w-[80%]">
  <%= render "shared/notice" %>
  <h2 class="font-bold text-3xl mb-2 text-center">Recent Orders</h2>
  
  <div id="orders" class="mx-auto">
    <h3 class="font-bold text-xl">Pending</h3>
    <% if @pending_orders.count > 0 %>
      <%= render @pending_orders %>
    <% else %>
      <p class="mt-4 text-lg">There are no pending orders.</p>
    <% end %>
  </div>

  <div id="orders" class="mx-auto mt-6">
    <h3 class="font-bold text-xl">Scheduled</h3>
    <% if @scheduled_orders.count > 0 %>
      <%= render @scheduled_orders %>
    <% else %>
      <p class="mt-4 text-lg">There are no scheduled orders.</p>
    <% end %>
  </div>

  <div id="orders" class="mx-auto mt-6">
    <h3 class="font-bold text-xl mb-2">Completed</h3>
    <% if @completed_orders.count > 0 %>
      <%= render @completed_orders %>
    <% else %>
      <p class="mt-4 text-lg">No completed order to show.</p>
    <% end %>
  </div>


</div>



<!--
  <div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%#= render @client %>


    <%#= link_to 'Edit this client', edit_client_path(@client), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%#= button_to 'Destroy this client', client_path(@client), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%#= link_to 'Back to clients', clients_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
