<div class="mx-auto md:w-[80%] bg-white">
  <h1 class="text-3xl font-bold tracking-tight text-gray-900 mb-4"">New order</h1>

  <%= render "form", { maid: @maid, order: @order }%>

  <%#= link_to 'Back to orders', orders_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
