<div>
<h1 class="text-4xl font-medium">Join as a client or maid</h1>

<div class="my-6">
  <%= link_to "I'm a client, hiring for a project", new_client_path, class: "px-5 py-4 bg-green-700 text-gray-100 rounded-lg font-bold" %>
  <%= link_to "I'm a maid, looking for work", new_maid_path, class: "px-5 py-4 bg-green-700 text-gray-100 rounded-lg font-bold" %>
</div>
</div>
