<section class="mt-10", id="hero">
  <div class="container flex flex-col-reverse mx-auto p-6 lg:flex-row lg:mb-0">
    <div class="flex flex-col space-y-10 lg:mt-16 lg:w-1/2">
      <h1 class="text-3xl font-semibold text-center lg:text-6xl lg:text-left">Tired of cleaning your own home?</h1>
      <p class="max-w-md mx-auto text-lg text-center text-gray-400 lg:text-2xl lg:text-left lg:mt-0 lg:mx-0">
        Our web application makes it easy to find and hire a qualified maid to clean your home for you. Let us take care of the cleaning so you can focus on what matters most.
      </p>

      <div class="max-w-md text-center flex items-center justify-center w-full space-x-4 lg:justify-start">
        <%= link_to "Hire a Maid", new_client_path, class: "w-full p-4 text-sm font-semibold text-white bg-softBlue rounded shadow-md border-2 border-softBlue md:text-base hover:bg-white hover:text-softBlue" %>
        <%= link_to "Work as Maid", new_maid_path, class: "w-full p-4 text-sm font-semibold text-black bg-gray-300 rounded shadow-md border-2 border-gray-300 md:text-base hover:bg-white hover:text-gray-600" %>
      </div>
    </div>

    <div class="relative mx-auto lg:mx-0 lg:mb-0 lg:w-1/2">
      <div class="bg-hero"></div>
        <%= image_tag "hero-illustration.jpg", class: "border-1 border-gray-300 shadow rounded-lg relative z-10 lg:top-24 xl:top-0 overflow-x-visible" %>
      </div>
    </div>
  </div>
</section>
