<div class="mx-auto md:w-[80%]">
  <%= render "shared/notice" %>
  <h2 class="font-bold text-3xl mb-2 text-center">Recent Orders</h2>
  
  <div id="orders" class="mx-auto">
    <h3 class="font-bold text-xl">New Orders</h3>
    <% if @new_orders.count > 0 %>
      <%= render @new_orders %>
    <% else %>
      <p class="mt-4 text-lg">There are no new orders.</p>
    <% end %>
  </div>

  <div id="orders" class="mx-auto mt-6">
    <h3 class="font-bold text-xl mb-2">Scheduled Orders</h3>
    <% if @progress_orders.count > 0 %>
      <%= render @progress_orders %>
    <% else %>
      <p class="mt-4 text-lg">You have no orders scheduled at this time.</p>
    <% end %>
  </div>
</div>
