<div class="flex-none w-[15%]">
  <div class="sticky top-0 bg-gray-100 min-h-screen">
    <ul class="flex sm:flex-col overflow-hidden content-center justify-items-center pt-6 pl-2">
      <li class="py-2 hover:bg-indigo-300 rounded">
        <%= link_to maids_path do %>
          <%= image_tag("//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/home.svg", class: "w-7 sm:mx-2 mx-4 inline") %>
          <span class="font-lg align-bottom">Dashboard</span>
        <% end %>
      </li>
                
      <li class="py-2 hover:bg-indigo-300 rounded">
                    <a class="truncate" href="#">
                        <img src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/chevron-right.svg" class="w-7 sm:mx-2 mx-4 inline" /> <span class="hidden sm:inline">Settings</span>
                    </a>
                </li>
                <li class="py-2 hover:bg-indigo-300 rounded">
                    <a class="" href="#">
                        <img src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/gift.svg" class="w-7 sm:mx-2 mx-4 inline" /> <span class="hidden sm:inline">Products</span>
                    </a>
                </li>
                <li class="py-2 hover:bg-indigo-300 rounded">
                    <a class="" href="#">
                        <img src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/chart-bar.svg" class="w-7 sm:mx-2 mx-4 inline" /> <span class="hidden sm:inline">Reports</span>
                    </a>
                </li>
                <li class="py-2 hover:bg-indigo-300 rounded">
                    <a class="" href="#">
                        <img src="//cdn.jsdelivr.net/npm/heroicons@1.0.1/outline/collection.svg" class="w-7 sm:mx-2 mx-4 inline" /> <span class="hidden sm:inline">Integrations</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>


